
.close_icon {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url(../assets/svgs/Close.svg);
  background-color: #ccc;
}

.icon_alarm {
  width: 14px;
  height: 15px;
  margin-right: 6px;
  content: url(../assets/svgs/alarm.svg);
}

