// 全局颜色
// 主题色 
$-g-main-color: rgba(216,34,44,1);
// 白色
$-g-white: rgba(255, 255, 255, 1);
// 黑色
$-g-black: rgba(0, 0, 0, 1);
$-g-black01: rgba(0, 0, 0, 0.1);

// 字体大小 13 - 26  px
$-g-fszier13: 13px;
$-g-fszier14: 14px;
$-g-fszier15: 15px;
$-g-fszier16: 16px;
$-g-fszier17: 17px;
$-g-fszier18: 18px;
$-g-fszier19: 19px;
$-g-fszier20: 20px;
$-g-fszier21: 21px;
$-g-fszier22: 22px;
$-g-fszier23: 23px;
$-g-fszier24: 24px;
$-g-fszier25: 25px;
$-g-fszier26: 26px;

// 圆角
$-g-b-radius6: 6px;


// 
